<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstallationWithCarthageDome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2843DF611E67B1AD0035B728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2843DF7A1E67B1AD0035B728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2843DF851E67B1AD0035B728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
