<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a01</key>
	<dict>
		<key>战鹰舆情助手</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105926477</string>
					<key>appSecret</key>
					<string>qbMD3QgYvpWGywMF</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wxc3f30500eef83d55</string>
					<key>appSecret</key>
					<string>c8e59766467e918e2a636ee803edda6c</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41eb194d</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wxc3f30500eef83d55</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>战鹰舆情助手</string>
			<key>kPlatform</key>
			<string>34s</string>
		</dict>
		<key>百捷集团</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105916793</string>
					<key>appSecret</key>
					<string>uQbjqSeHR9aOlcwu</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx09936f7c4059e529</string>
					<key>appSecret</key>
					<string>19da42c9f2e080694f523da92e2a10f7</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41eaf379</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx09936f7c4059e529</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>百捷新媒体</string>
			<key>kPlatform</key>
			<string>33s</string>
		</dict>
		<key>舆情头条</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105858247</string>
					<key>appSecret</key>
					<string>GQIqfxvQCNBVsEJy</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx8616f4a6f32bd30d</string>
					<key>appSecret</key>
					<string>f20ff406e2eb8d109fd1ae8f1dcf507d</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41ea0ec7</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx8616f4a6f32bd30d</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>舆情头条</string>
			<key>kPlatform</key>
			<string>32s</string>
		</dict>
		<key>舆情快讯</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105931474</string>
					<key>appSecret</key>
					<string>YRbsQL9TeTZFU9Xj</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx5bb2d1bc26f3db58</string>
					<key>appSecret</key>
					<string>d42adfef14f7e6c3127eb5280ab4aebf</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41eb2cd2</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx5bb2d1bc26f3db58</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>舆情快讯</string>
			<key>kPlatform</key>
			<string>31s</string>
		</dict>
		<key>今日媒探舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105894572</string>
					<key>appSecret</key>
					<string>Oz5e2vNFbex7qjAJ</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wxc5eb25daf20b9e9d</string>
					<key>appSecret</key>
					<string>210d713c1145982957faa6d341d19ea8</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41ea9cac</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wxc5eb25daf20b9e9d</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>今日媒探舆情</string>
			<key>kPlatform</key>
			<string>30s</string>
		</dict>
		<key>任子行</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105813809</string>
					<key>appSecret</key>
					<string>TTZwZpapKIsnPnNw</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wxb0cd0af9239f7a02</string>
					<key>appSecret</key>
					<string>737c919afe5d140f9ca73c481863606b</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e96131</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wxb0cd0af9239f7a02</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>任子行</string>
			<key>kPlatform</key>
			<string>29s</string>
		</dict>
		<key>艾利艾</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105798714</string>
					<key>appSecret</key>
					<string>ver1IDZRLF9Rx8sI</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx57e0d3c9f7697072</string>
					<key>appSecret</key>
					<string>238c3571f8fde5602b97aa30c7efa0ca</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e9263a</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx57e0d3c9f7697072</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>舆情顾问</string>
			<key>kPlatform</key>
			<string>28s</string>
		</dict>
		<key>商智通</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105716633</string>
					<key>appSecret</key>
					<string>Wxhvj1xd2K8EuEyI</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx8e7b970e2f0ada56</string>
					<key>appSecret</key>
					<string>92e36f185d9123b12dd7163d46058182</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e7e599</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx8e7b970e2f0ada56</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>信息监测</string>
			<key>kPlatform</key>
			<string>27s</string>
		</dict>
		<key>城市舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105784352</string>
					<key>appSecret</key>
					<string>8QDdsRnLU2EyEqR5</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wxae3c1f00a6f78913</string>
					<key>appSecret</key>
					<string>d72c85ff2678288a5fa37a7a1c933fba</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e8ee20</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wxae3c1f00a6f78913</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>城市舆情</string>
			<key>kPlatform</key>
			<string>26s</string>
		</dict>
		<key>向向舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105745890</string>
					<key>appSecret</key>
					<string>NzE7Eeb6Txo7IgA6</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx62a707694bf0f04d</string>
					<key>appSecret</key>
					<string>01b19cd1e6c8857eaee00dc2dbb27bef</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e857e2</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx62a707694bf0f04d</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>向向舆情</string>
			<key>kPlatform</key>
			<string>25s</string>
		</dict>
		<key>央企舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105658704</string>
					<key>appSecret</key>
					<string>2tnZ1i4rVB2AmoPZ</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx7de6af99a3cbd50e</string>
					<key>appSecret</key>
					<string>9fba3b0f257360f7fae54b19f7005a90</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e70350</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx7de6af99a3cbd50e</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>央企舆情</string>
			<key>kPlatform</key>
			<string>24s</string>
		</dict>
		<key>点击传媒</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105655366</string>
					<key>appSecret</key>
					<string>XVxXN2ahSXTw6fAu</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx02cd6081d4b1984e</string>
					<key>appSecret</key>
					<string>3325415ef9fd2e59f8b0e0dd01002bf9</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e6f646</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx02cd6081d4b1984e</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>点击传媒</string>
			<key>kPlatform</key>
			<string>23s</string>
		</dict>
		<key>类聚舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105585866</string>
					<key>appSecret</key>
					<string>YmBfLaL2lJXEhqfh</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wxc6922f08b6b31026</string>
					<key>appSecret</key>
					<string>3482448245997398c72fb1968aef4f31</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e5e6ca</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wxc6922f08b6b31026</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>类聚舆情</string>
			<key>kPlatform</key>
			<string>22s</string>
		</dict>
		<key>新煜舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105444138</string>
					<key>appSecret</key>
					<string>yqEdgcgL4XrTjoqC</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx2cfc242ef9b09d14</string>
					<key>appSecret</key>
					<string>65cef20e6df97d351a185fbecb12a223</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e3bd2a</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx2cfc242ef9b09d14</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>新煜舆情</string>
			<key>kPlatform</key>
			<string>20s</string>
		</dict>
		<key>质量新闻网</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105614801</string>
					<key>appSecret</key>
					<string></string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx1a27195e7fc56db8</string>
					<key>appSecret</key>
					<string>ae3822204431e04f7575c2016dd81343</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e657d1</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx1a27195e7fc56db8</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>舆情秘书</string>
			<key>kPlatform</key>
			<string>19s</string>
		</dict>
		<key>魔豆</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105412468</string>
					<key>appSecret</key>
					<string>9xQJdawb21SuzRxm</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx308c36211fedfaad</string>
					<key>appSecret</key>
					<string>132a2a4c73c4b6ea69624a015a2ae4e0</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e34174</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx308c36211fedfaad</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>魔豆品牌舆情</string>
			<key>kPlatform</key>
			<string>18s</string>
		</dict>
		<key>网信舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105259189</string>
					<key>appSecret</key>
					<string>mraiIX1I9S0GLKzl</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wxb7d7f7497444434b</string>
					<key>appSecret</key>
					<string>5becff90b3d766fe1328981a39bf11d4</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e0eab5</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wxb7d7f7497444434b</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>网信舆情</string>
			<key>kPlatform</key>
			<string>17s</string>
		</dict>
		<key>大宗舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105250949</string>
					<key>appSecret</key>
					<string>JuujmVbHgTcXoDTR</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx401d3db0ff4534d1</string>
					<key>appSecret</key>
					<string>ddd8ec17a4ffb14e1e2d887ffb0b82f5</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e0ca85</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx401d3db0ff4534d1</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>大宗舆情</string>
			<key>kPlatform</key>
			<string>16s</string>
		</dict>
		<key>易班舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105323964</string>
					<key>appSecret</key>
					<string>dFw8rRCUQo3TV1Mw</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx2f460ed3fe8b2488</string>
					<key>appSecret</key>
					<string>66e7dbb82def06bf3dc7ee1caa327cd1</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e1e7bc</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx2f460ed3fe8b2488</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>易班舆情</string>
			<key>kPlatform</key>
			<string>15s</string>
		</dict>
		<key>时光舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105250935</string>
					<key>appSecret</key>
					<string>MrFgfU4sEmHEi3Yw</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wxa34ffa7e87fcb0de</string>
					<key>appSecret</key>
					<string>984fc450cafd7bda9afb9a3e53228fad</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e0ca77</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wxa34ffa7e87fcb0de</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>时光舆情</string>
			<key>kPlatform</key>
			<string>14s</string>
		</dict>
		<key>晋美舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105323894</string>
					<key>appSecret</key>
					<string>fuarIZWYTcCGt2Dd</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx6f5b31d820e6ee2f</string>
					<key>appSecret</key>
					<string>70f7357ae45c1e0707fc527721767175</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e1e776</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx6f5b31d820e6ee2f</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>晋美舆情</string>
			<key>kPlatform</key>
			<string>13s</string>
		</dict>
		<key>琴鹤舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105220863</string>
					<key>appSecret</key>
					<string>hvsw0UpJ8frizn6D</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx5b862c0fd2ef4c9b</string>
					<key>appSecret</key>
					<string>dc38e54309da483b879f4c1e09b042fc</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41e054ff</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx5b862c0fd2ef4c9b</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>琴鹤舆情</string>
			<key>kPlatform</key>
			<string>12s</string>
		</dict>
		<key>达邦舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105177489</string>
					<key>appSecret</key>
					<string>4d62srSHclKImgU8</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx36bbcc46795f2b43</string>
					<key>appSecret</key>
					<string>52bf594796d44f1f93e67b34baa34a2e</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41dfab91</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx36bbcc46795f2b43</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>达邦舆情</string>
			<key>kPlatform</key>
			<string>11s</string>
		</dict>
		<key>东方英信</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1104964989</string>
					<key>appSecret</key>
					<string>DDP1UUSVAgnINXmU</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx6e30af13a8a5f189</string>
					<key>appSecret</key>
					<string>edaf94043d9fe5faab7fd40c062739f0</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41dc6d7d</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx6e30af13a8a5f189</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>英信科技</string>
			<key>kPlatform</key>
			<string>10s</string>
		</dict>
		<key>中普友通</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1104980993</string>
					<key>appSecret</key>
					<string>J1S4DfXBq5Ix6Rex</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx7e8722b2cd827fc0</string>
					<key>appSecret</key>
					<string>1b5c846e615279004502880bd20cbf86</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41dcac01</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx7e8722b2cd827fc0</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>友通舆情</string>
			<key>kPlatform</key>
			<string>9s</string>
		</dict>
		<key>大象舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1105030021</string>
					<key>appSecret</key>
					<string>rnGKKuuQWAN8hufs</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx4a780c8c8c2122a4</string>
					<key>appSecret</key>
					<string>d4624c36b6795d1d99dcf0547af5443d</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41dd6b85</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx4a780c8c8c2122a4</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>大象舆情</string>
			<key>kPlatform</key>
			<string>8s</string>
		</dict>
		<key>张家口天巡平台</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1104821250</string>
					<key>appSecret</key>
					<string>lmFWOSDSQpi94WW0</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx43922d23f713d538</string>
					<key>appSecret</key>
					<string>699a3b0adb916d4257e407e400bf7e0e</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41da3c02</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx43922d23f713d538</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>天巡</string>
			<key>kPlatform</key>
			<string>5s</string>
		</dict>
		<key>反腐监察网</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1104671659</string>
					<key>appSecret</key>
					<string>1USgPng02ZrmdSQz</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx6a099a939b76859a</string>
					<key>appSecret</key>
					<string>5d4e2b13f630d5ba84f475f26794bbf1</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41d7f3ab</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx6a099a939b76859a</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>反腐监察网</string>
			<key>kPlatform</key>
			<string>4s</string>
		</dict>
		<key>教育舆情</key>
		<dict>
			<key>Share</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>appKey</key>
					<string>1104746548</string>
					<key>appSecret</key>
					<string>HzAYWy1qtfzk0KgF</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>appKey</key>
					<string>wx7fd335a535c1030f</string>
					<key>appSecret</key>
					<string>ab7ba8977e579b07851536d70874fca8</string>
				</dict>
			</dict>
			<key>UMeng</key>
			<dict>
				<key>QQ</key>
				<dict>
					<key>URL Schemes</key>
					<string>QQ41d91834</string>
				</dict>
				<key>WeChat</key>
				<dict>
					<key>URL Schemes</key>
					<string>wx7fd335a535c1030f</string>
				</dict>
			</dict>
			<key>appName</key>
			<string>教育舆情</string>
			<key>kPlatform</key>
			<string>3s</string>
		</dict>
	</dict>
</dict>
</plist>
